<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous"/> 
	<script type="text/javascript" src="js/custom.js"></script>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body onload="checkUser()">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="upload">Submit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Vote</a>
    </li>    
     <li class="nav-item">
        <span id="user" class="navbar-text"> </span>
    </li>
  </ul>

  <!-- Navbar text-->


</nav>

    <p>Log in <a href="/login.html">here</a></p>
</body>
</html>